#jinja2:lstrip_blocks: True
input {
  {% for input in LOGSTASH_INPUTS %}
    {% if input.if is defined %}
    if {{ input.if }} {
    {% endif %}
      {{ input.name }} {
        {% if input.options is defined %}
          {% for option in input.options %}
            {{ option.name }} => {{ option.value }}
          {% endfor %}
        {% endif %}
      }
    {% if input.if is defined %}
    }
    {% endif %}
  {% endfor %}
}
output {
  {% for output in LOGSTASH_OUTPUTS %}
    {% if output.if is defined %}
    if {{ output.if }}
    {% endif %}
    {{ output.name }} {
      {% if output.options is defined %}
        {% for option in output.options %}
          {{ option.name }} => {{ option.value }}
        {% endfor %}
      {% endif %}
      {% if output.if is defined %}
      }
      {% endif %}
    }
  {% endfor %}
}
