#jinja2:lstrip_blocks: True
input {
  {% for input in LOGSTASH_INPUTS %}
    {% if input.if is defined %}
    if {{ input.if }} {
    {% endif %}
      {{ input.name }} {
        {% if input.options is defined %}
          {% for option in input.options %}
            {{ option.name }} => {{ option.value }}
          {% endfor %}
        {% endif %}
      }
    {% if input.if is defined %}
    }
    {% endif %}
  {% endfor %}
}

{% if LOGSTASH_FILTERS is defined %}
filter {
  {% for filter in LOGSTASH_FILTERS %}
  {% if filter.if is defined %}
  if {{ filter.if }} {
  {% endif %}
  {{ filter.name }} {
    {% if filter.options is defined %}
      {% for option in filter.options %}
        {{ option.name }} => {{ option.value }}
      {% endfor %}
    {% endif %}
  }
  {% if filter.if is defined %}
  }
  {% endif %}
  {% endfor %}
}
{% endif %}

output {
  {% for output in LOGSTASH_OUTPUTS %}
    {% if output.if is defined %}
    if {{ output.if }}
    {% endif %}
    {{ output.name }} {
      {% if output.options is defined %}
        {% for option in output.options %}
          {{ option.name }} => {{ option.value }}
        {% endfor %}
      {% endif %}
      {% if output.if is defined %}
      }
      {% endif %}
    }
  {% endfor %}
}
